.glyphicon-heart {
  color: red;
}

.events-view {
  max-height: 600px;
}

.public-events {
  height: 100%;
  overflow-y: scroll;
}

.event-submit {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.event-list {
  max-height: 464px;
  margin: 20px;
}

#name-entry, #question-entry {
  width: 100%;
}

#question-entry {
  height: 200px;
}

#question-entry {
  margin: 5px 0;
}

.upvotes {
  position: absolute;
  right: 50px;
}

.question {
  border-bottom: grey 1px solid;
  margin-bottom: 30px;
}

#submit-button {
  margin-bottom: 10px;
}

.newest-question {
  height: 325px;
}

textarea, input {
  border: lightgrey 1px solid;
}

textarea {
  resize: none;
}

.delete {
  position: relative;
  left: 645px;
  width: 45px;
}

.newDelete {
  width: 45px;
}